body {
  margin: 0;
  padding: 0;
  width: 1480px;
  height: 900px;
  font-family: "Raleway", sans-serif;

  background-color:#fff;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.container {
  align-items: center;
}

/*=============================Header=============================*/
.header {
  margin: 0%;
  padding: 0%;
  width: 1480px;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: center;
  top: 0;
  left: 0;

  z-index: 1000;
  border-bottom: 1px solid #515369;
}

.navbar{
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.nav-link{
  margin-left:100px;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 20px;

  opacity: 0.75;
  transition: opacity 0.1s linear;
}
.nav__link:hover {
  opacity: 1;
}

/*==============================Intro=============================*/
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 750px;
  padding-top: 100px;
  background-image: url(../img/banner1.jpg);
}

.intro__inner {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  margin-left: 160px;
  text-align: center;
}

.intro__title {
  margin: 0 0 30px;
  font-family: "Raleway", sans-serif;
  font-size: 120px;
  line-height: 1.1;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.intro__subtitle {
  font-family: "Raleway";
  margin-bottom: 60px;
  font-size: 64px;
  color: #fff;
  line-height: 1.5;
  font-weight: 500;
}

/*==============================Features=============================*/
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0%;
  padding: 0%;
}
.border1{
  margin-top: 100px;
  border-bottom: 1px solid #000000;
  max-width: 1600px;
}

.features__icon {
  margin-left: 800px;
}

.features__title {
  font-family: "Raleway";
  margin-top: -400px;

  font-weight: 700;

  margin-left: 235px;
  color: #00b2bd;
  font-size: 36px;
}

.features__text {
  font-size: 26px;
  padding: 10px 20px;
  width: 550px;
  height: 170px;
  margin-left: 200px;
  margin-bottom: 120px;
}

.features__icon:nth-child(even) {
  margin-left: 100px;
}

.features__text:nth-child(even) {
  margin-left: 800px;
}
.features__title:nth-child(odd) {
  margin-left: 886px;
}

/*==============================Numbers=============================*/
.cont{
  margin-left: 200px;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 100px;
}

.border2{
  margin-top: 100px;
  border-bottom: 1px solid #000000;
  max-width: 1600px;
}

.numbers__item2{
  margin-left: 100px;
}
.numbers__item3{
  margin-left: 100px;
}
.numbers__title{
  margin-top: 50px;
  font-family: "Roboto";
  font-size: 38px;
  font-weight: 700;
}

.numbers__text{
  margin-top: 30px;
  font-family: "Raleway";
  font-size: 24;
  font-weight: 500;
}

/*==============================Sliders Конспекты=============================*/
.container1{
  max-width: 1600px;
}
.border3{
  margin-top: 100px;
  border-bottom: 1px solid #000000;
  max-width: 1600px;
}
.abstract{
  display: flex;
  text-align: center;
  margin-top: 100px;
  margin-left: 600px;

  font-family: 'Raleway';
  font-weight: 600;
  font-size: 48px;
}

.rev_slider{
  margin-top: 100px;
  margin-left: 100px;
  display: flex;
  align-items: center;
  width: 1200px;
  margin-left: 150px;
  margin-bottom: 100px;
}

.block1{
  display: flex;
  text-align: center;
  display: inline-block;
  padding: 55px 30px 20px 27px;
  border-radius: 20px;
  background:#00F0FF;
  border: 0;
  width:260px;
  height: 420px;
}
.photo1{
  background-image: url(../img/photo1.png);
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.more{
  font-size: 15px;
  font-family: 'Raleway';
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.block2{
  display: flex;
  text-align: center;
  display: inline-block;
  padding: 55px 30px 20px 27px;
  border-radius: 20px;
  background:#FDCD52;
  border: 0;
  width:260px;
  height: 420px;
}
.photo2{
  background-image: url(../img/photo2.png);
  width: 180px;
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 15px;
}

.block3{
  display: flex;
  justify-content: center;
  text-align: center;
  display: inline-block;
  padding: 55px 30px 20px 27px;
  border-radius: 20px;
  background:#93CA4D;
  border: 0;
  width:260px;
  height: 420px;
}
.photo3{
  background-image: url(../img/photo3.png);
  width: 180px;
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 15px;
}

.block4{
  display: flex;
  justify-content: center;
  text-align: center;
  display: inline-block;
  padding: 55px 30px 20px 27px;
  border-radius: 20px;
  background:#FFBC8B;
  border: 0;
  width:260px;
  height: 420px;
}
.photo4{
  background-image: url(../img/photo4.png);
  width: 180px;
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 15px;
}

.block5{
  display: flex;
  justify-content: center;
  text-align: center;
  display: inline-block;
  padding: 55px 30px 20px 27px;
  border-radius: 20px;
  background:#508DAE;
  border: 0;
  width:260px;
  height: 420px;
}
.photo5{
  background-image: url(../img/photo5.png);
  width: 180px;
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 15px;
}

.block6{
  display: flex;
  justify-content: center;
  text-align: center;
  display: inline-block;
  padding: 55px 30px 20px 27px;
  border-radius: 20px;
  background:#D96565;
  border: 0;
  width:260px;
  height: 420px;
}
.photo6{
  background-image: url(../img/photo6.png);
  width: 180px;
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 15px;
}

.block7{
  display: flex;
  justify-content: center;
  text-align: center;
  display: inline-block;
  padding: 55px 30px 20px 27px;
  border-radius: 20px;
  background:#E0F368;
  border: 0;
  width:260px;
  height: 420px;
}
.photo7{
  background-image: url(../img/photo7.png);
  width: 180px;
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 15px;
}


.name{
  font-size: 28px;
  font-family: 'Raleway';
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 50px;
  color: #fff;
}
.name2{
  font-size: 28px;
  font-family: 'Raleway';
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #fff ;
}
.name3{
  font-size: 28px;
  font-family: 'Raleway';
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 50px;
  margin-left: -10px;
  color: #fff;
}
.name4{
  font-size: 28px;
  font-family: 'Raleway';
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 50px;
  color: #fff ;
}
/*==============================Sliders Формулы=============================*/
.container2{
  max-width: 1600px;
}

.border4{
  margin-top: 100px;
  border-bottom: 1px solid #000000;
  max-width: 1600px;
}

.formula{
  display: flex;
  text-align: center;
  margin-top: 100px;
  margin-left: 600px;

  font-family: 'Raleway';
  font-weight: 600;
  font-size: 48px;
}
.form_slider{
  margin-top: 100px;
  margin-left: 100px;
  display: flex;
  align-items: center;
  width: 1200px;
  margin-left: 150px;
  margin-bottom: 100px;
}

.block8{
  display: flex;
  text-align: center;
  display: inline-block;
  padding: 55px 30px 20px 27px;
  border-radius: 20px;
  background:#5BD1D7;
  border: 0;
  width:260px;
  height: 420px;
}
.photo8{
  background-image: url(../img/photo8.png);
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.block9{
  display: flex;
  text-align: center;
  display: inline-block;
  padding: 55px 30px 20px 27px;
  border-radius: 20px;
  background:#FF502F;
  border: 0;
  width:260px;
  height: 420px;
}
.photo9{
  background-image: url(../img/photo9.png);
  width: 180px;
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 15px;
}

.block10{
  display: flex;
  justify-content: center;
  text-align: center;
  display: inline-block;
  padding: 55px 30px 20px 27px;
  border-radius: 20px;
  background:#348498;
  border: 0;
  width:260px;
  height: 420px;
}
.photo10{
  background-image: url(../img/photo10.png);
  width: 180px;
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 15px;
}

.block11{
  display: flex;
  justify-content: center;
  text-align: center;
  display: inline-block;
  padding: 55px 30px 20px 27px;
  border-radius: 20px;
  background:#6B48FF;
  border: 0;
  width:260px;
  height: 420px;
}
.photo11{
  background-image: url(../img/photo11.png);
  width: 180px;
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 15px;
}

.block12{
  display: flex;
  justify-content: center;
  text-align: center;
  display: inline-block;
  padding: 55px 30px 20px 27px;
  border-radius: 20px;
  background:#004D61;
  border: 0;
  width:260px;
  height: 420px;
}
.photo12{
  background-image: url(../img/photo12.png);
  width: 180px;
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 15px;
}

.block13{
  display: flex;
  justify-content: center;
  text-align: center;
  display: inline-block;
  padding: 55px 30px 20px 27px;
  border-radius: 20px;
  background:#FFF591;
  border: 0;
  width:260px;
  height: 420px;
}
.photo13{
  background-image: url(../img/photo13.png);
  width: 180px;
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 15px;
}

.block14{
  display: flex;
  justify-content: center;
  text-align: center;
  display: inline-block;
  padding: 55px 30px 20px 27px;
  border-radius: 20px;
  background:#F5587B;
  border: 0;
  width:260px;
  height: 420px;
}
.photo14{
  background-image: url(../img/photo14.png);
  width: 180px;
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 15px;
}

/*==============================Sliders Видео=============================*/
.container3{
  border-bottom: 1px solid #000000;
  max-width: 1600px;
}
.courses{
  display: flex;
  text-align: center;
  margin-top: 100px;
  margin-left: 600px;
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 48px;
}

.vid_slider{
  margin-top: 100px;
  margin-left: 250px;
  width: 950px;
  height: 550px;
  margin-bottom: 100px;
}

/*==============================Footer=============================*/
.container4{
  position: relative;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: row;
  background-image: url(../img/footer.png);
}

.footer__title{
  font-size: 20px;
  font-family: 'Raleway';
  font-weight: 700;
  color: #00F0FF;
  margin-top: 40px;
}

.footer__title1{
  font-size: 20px;
  font-family: 'Raleway';
  font-weight: 700;
  color: #00F0FF;
  margin-top: 60px;
}

.footer__text{
  font-size: 18px;
  font-family: 'Open Sans';
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer__text:hover {
  color: rgb(208, 208, 208);
  opacity: 1;
}

.footer__item1{
  margin-left: 250px;
}
.footer__item2{
  margin-left: 160px;
}
.footer__item3{
  margin-left: 180px;
}

/*==============================Страница с формулами=============================*/
/*==============================Механика=============================*/
.Formulas1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
  padding-top: 100px;
  background-image: url(../img/Fon.png);
}

.Formulas_block{
  display: flex;
  text-align: center;
  display: inline-block;
  text-decoration: none;

  border-radius: 20px;
  background:#FF502F;
  border: 0;
  width:300px;
  height: 300px;
  transition: background 0.2s linear;
}
.Formulas_block:hover {
  top: 100px;
  box-shadow: 5px 5px 5px #3c354a;
  background-color: #b83a21;
}
.circle{
  margin: 0%;
  padding: 0%;
  display: flex;
  justify-content: center;
  text-align: center;

  border-radius: 50%;
  background:#000000;
  width:40px;
  height: 40px;

  margin-top: -240px;
  margin-left: 25px;
}

.Formulas_number{
  font-size: 30px;
  font-family: "Roboto";      
  text-align: center;
  color: #fff;
  margin-top: -2px;
}

.Formulas_photo{
  margin: 0%;
  padding: 0%;
  margin-top: 43px;
  margin-left: 80px;
  background-image: url(../img/Formulas.png);
  width: 220px;
  height: 220px;
}

.Formulas_title{
  margin: 0%;
  padding: 0%;
  font-size: 30px;
  font-family: "Raleway";
  font-weight: 700;
  color: #fff;
  margin-left: -100px;
  margin-top: 64px;
}

.Formulas_subtitle{
  padding: 0%;
  margin: 0%;

  font-size: 20px;
  font-family: 'Raleway';
  font-weight: 500;
  color: #fff;
  position: relative;

  width: 228px;
  height: 46px;
  margin-left: 28px;
  margin-top: 71px;
  text-align: left; 
}
/*==============================Молекулярная физика=============================*/
.Formulas_block1{
  display: flex;
  text-align: center;
  display: inline-block;

  border-radius: 20px;
  background:#00A8B2;
  border: 0;
  width:300px;
  height: 300px;
  transition: background 0.2s linear;
  text-decoration: none;
}
.Formulas_block1:hover {
  top: 100px;
  box-shadow: 5px 5px 5px #3c354a;
  background-color: #00858b;
}
.circle1{
  margin: 0%;
  padding: 0%;
  display: flex;
  justify-content: center;
  text-align: center;

  border-radius: 50%;
  background:#000000;
  width:40px;
  height: 40px;

  margin-top: -230px;
  margin-left: 25px;
}

.Formulas_number{
  font-size: 30px;
  font-family: "Roboto";      
  text-align: center;
  color: #fff;
  margin-top: -2px;
}

.Formulas_photo1{
  margin: 0%;
  padding: 0%;
  margin-left: 80px;
  background-image: url(../img/Formulas1.png);
  width: 220px;
  height: 250px;
}
.Formulas_title1{
  margin: 0%;
  padding: 0%;
  font-size: 30px;
  font-family: "Raleway";
  font-weight: 700;
  color: #fff;
  margin-left: 25px;
  margin-top: 74px;
  width: 100px;
}
.Formulas_subtitle1{
  padding: 0%;
  margin: 0%;

  font-size: 20px;
  font-family: 'Raleway';
  font-weight: 500;
  color: #fff;
  position: relative;

  width: 228px;
  height: 46px;
  margin-left: 28px;
  margin-top: 31px;
  text-align: left; 
}
/*==============================Электростатика=============================*/
.Formulas_block2{
  display: flex;
  text-align: center;
  display: inline-block;

  border-radius: 20px;
  background:#FFAA00;
  border: 0;
  width:300px;
  height: 300px;
  transition: background 0.2s linear;
  text-decoration: none;
}

.Formulas_block2:hover {
  top: 100px;
  box-shadow: 5px 5px 5px #3c354a;
  background-color: #cf8a00;
}

.Formulas_photo2{
  margin: 0%;
  padding: 0%;
  margin-top: 43px;
  margin-left: 80px;
  background-image: url(../img/Formulas2.png);
  width: 220px;
  height: 220px;
}

.Formulas_title2{
  margin: 0%;
  padding: 0%;
  font-size: 30px;
  font-family: "Raleway";
  font-weight: 700;
  color: #fff;
  margin-left: -10px;
  margin-top: 72px;
}

.Formulas_subtitle2{
  padding: 0%;
  margin: 0%;

  font-size: 20px;
  font-family: 'Raleway';
  font-weight: 500;
  color: #fff;
  position: relative;

  width: 228px;
  height: 46px;
  margin-left: 28px;
  margin-top: 66px;
  text-align: left; 
}
/*==============================Термодинамика=============================*/
.Formulas_block3{
  display: flex;
  text-align: center;
  display: inline-block;

  border-radius: 20px;
  background:#274600;
  border: 0;
  width:300px;
  height: 300px;
  margin-top: -600px;
  transition: background 0.2s linear;
  text-decoration: none;
}

.Formulas_block3:hover {
  top: 100px;
  box-shadow: 5px 5px 5px #3c354a;
  background-color: #325b00;
}

.Formulas_photo3{
  margin: 0%;
  padding: 0%;
  margin-top: 43px;
  margin-left: 80px;
  background-image: url(../img/Formulas3.png);
  width: 220px;
  height: 220px;
}
/*==============================Постоянный ток=============================*/
.Formulas_block4{
  display: flex;
  text-align: center;
  display: inline-block;

  border-radius: 20px;
  background:#5BD1D7;
  border: 0;
  width:300px;
  height: 300px;
  margin-top: -600px;
  transition: background 0.2s linear;
  text-decoration: none;
}
.Formulas_block4:hover {
  top: 100px;
  box-shadow: 5px 5px 5px #3c354a;
  background-color: #46a0a4;
}
.Formulas_photo4{
  margin: 0%;
  padding: 0%;
  margin-top: 33px;
  margin-left: 80px;
  background-image: url(../img/Formulas4.png);
  width: 220px;
  height: 220px;
}
/*==============================Магнетизм=============================*/
.Formulas_block5{
  display: flex;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
  background:#7EAB44;
  border: 0;
  width:300px;
  height: 300px;
  margin-top: -600px;
  transition: background 0.2s linear;
  text-decoration: none;
}
.Formulas_block5:hover {
  top: 100px;
  box-shadow: 5px 5px 5px #3c354a;
  background-color: #5d7e31;
}

.Formulas_photo5{
  margin: 0%;
  padding: 0%;
  margin-top: 33px;
  margin-left: 80px;
  background-image: url(../img/Formulas5.png);
  width: 220px;
  height: 220px;
}
/*==============================Блоки для формул механика=============================*/
/*==============================Оптика=============================*/
.Formulas2{
  display: flex;
  justify-content: center;
  background-color: #000000;
}
.Formulas_block6{
  display: flex;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
  background:#fef271;
  border: 0;
  width:300px;
  height: 300px;
  margin-top: -350px;
  transition: background 0.2s linear;
  text-decoration: none;
}
.Formulas_block6:hover {
  top: 100px;
  box-shadow: 5px 5px 5px #3c354a;
  background-color: #cac262;
}

.Formulas_photo6{
  margin: 0%;
  padding: 0%;
  margin-top: 33px;
  margin-left: 80px;
  background-image: url(../img/Formulas6.png);
  width: 220px;
  height: 220px;
}
/*==============================Квантовая физика=============================*/
.Formulas_block7{
  display: flex;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
  background:#B539D9;
  border: 0;
  width:300px;
  height: 300px;
  margin-top: -350px;
  transition: background 0.2s linear;
  text-decoration: none;
}
.Formulas_block7:hover {
  top: 100px;
  box-shadow: 5px 5px 5px #3c354a;
  background-color: #942eb0;
}

.Formulas_photo7{
  margin: 0%;
  padding: 0%;
  margin-top: 33px;
  margin-left: 80px;
  background-image: url(../img/Formulas7.png);
  width: 220px;
  height: 220px;
}
/*==============================Блоки для конспектов=============================*/
.Abstract1 {
  height: 2700px;
  padding-top: 100px;
  background-image: url(../img/banner3.png);
}

.Abstracts_block{
  display: flex;
  text-align: center;
  border-radius: 20px;
  background: linear-gradient(45deg , #020839, #FFFFFF);

  width: 1100px;
  height: 250px;
  margin: 67px;
  margin-left: 190px;
  text-decoration: none;
}
.about{
  text-align: left;
  margin-left: 300px;

}

.Abstracts_title1{
  margin: 0%;
  padding: 0%;
  font-size: 40px;
  font-family: "Raleway";
  font-weight: 700;
  color: #000000;
  
  margin-top: 10px;
}

.Abstracts_subtitle1{
  text-align: left;
  margin: 0%;
  padding: 0%;
  font-size: 20px;
  font-family: "Raleway";
  font-weight: 400;
  color: #000000;
  width: 736px;
  margin-top: 30px;
  
}

.Abstracts_photo{
  margin: 0%;
  padding: 0%;
  margin-top: 21px;
  margin-left: 24px;
  width: 225px;
  height: 206px;
  position: absolute;
  background-image: url(../img/Abstract.png);
  
}

/*==============================Блоки для конспектов молекулярная физика=============================*/
.Abstracts_photo1{
  margin: 0%;
  padding: 0%;
  margin-top: 21px;
  margin-left: 24px;
  background-image: url(../img/Abstract1.png);
  width: 225px;
  height: 206px;
  position: absolute;
}

/*==============================Блоки для конспектов термодинамика=============================*/

.Abstracts_photo2{
  margin: 0%;
  padding: 0%;
  margin-top: 21px;
  margin-left: 24px;
  background-image: url(../img/Abstract2.png);
  width: 225px;
  height: 206px;
  position: absolute;
}

/*==============================Блоки для конспектов Электростатика=============================*/

.Abstracts_photo3{
  margin: 0%;
  padding: 0%;
  margin-top: 21px;
  margin-left: 24px;
  background-image: url(../img/Abstract3.png);
  width: 225px;
  height: 206px;
  position: absolute;
}

/*==============================Блоки для конспектов Постоянный ток=============================*/

.Abstracts_photo4{
  margin: 0%;
  padding: 0%;
  margin-top: 21px;
  margin-left: 24px;
  background-image: url(../img/Abstract4.png);
  width: 225px;
  height: 206px;
  position: absolute;
}

/*==============================Блоки для конспектов Магнетизм=============================*/

.Abstracts_photo5{
  margin: 0%;
  padding: 0%;
  margin-top: 21px;
  margin-left: 24px;
  background-image: url(../img/Abstract5.png);
  width: 225px;
  height: 206px;
  position: absolute;
}

/*==============================Блоки для конспектов Оптика=============================*/
.Abstracts_photo6{
  margin: 0%;
  padding: 0%;
  margin-top: 21px;
  margin-left: 24px;
  background-image: url(../img/Abstract6.png);
  width: 225px;
  height: 206px;
  position: absolute;
}

/*==============================Блоки для конспектов Квантовая физика=============================*/

.Abstracts_photo7{
  margin: 0%;
  padding: 0%;
  margin-top: 21px;
  margin-left: 24px;
  background-image: url(../img/Abstract7.png);
  width: 225px;
  height: 206px;
  position: absolute;
}


/*==============================Блоки для курсы=============================*/
/*==============================Блоки для курсы механика=============================*/
.Course1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1750px;
  padding-top: 100px;
  background-image: url(../img/Fon.png); 
  margin: auto;
}
/*.Course1 {
  display: flex;
  
  flex-direction: row;
  justify-content:center ;
  border: #006118;
 

}
*/
.Course_block{
  display: flex;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  flex-wrap: wrap;
  border-radius: 20px;
  background:#FF502F;
  border: 0;
  width:260px;
  height: 420px;
  transition: background 0.2s linear;

}
.Course_block:hover {
  top: 100px;
  box-shadow: 5px 5px 5px #3c354a;
  background-color: #b83a21;
}

.Course_photo{
  margin: 0%;
  padding: 0%;
  margin-top: 59px;
  margin-left: 42px;
  background-image: url(../img/Course1.png);
  width: 180px;
  height: 180px;
}

.Course_title{
  padding: 0%;
  margin: 0%;

  font-size: 28px;
  font-family: 'Raleway';
  font-weight: 800;
  color: #000000;
  position: relative;

  width: 240px;
  height: 65px;
  margin-left: 10px;
  margin-top: 59px;
  text-align: center; 
}

.Course_subtitle{
  padding: 0%;
  margin: 0%;

  font-size: 16px;
  font-family: 'Raleway';
  font-weight: 800;
  color: #000000;
  position: relative;

  width: 228px;
  height: 65px;
  margin-left: 19px;
  margin-top: 22px;
  text-align: center; 
}

/*==============================Блоки для курсы атомная физика=============================*/
.Course_block1{
  display: flex;
  text-align: center;
  display: inline-block;
  text-decoration: none;

  border-radius: 20px;
  background:#348498;
  border: 0;
  width:260px;
  height: 420px;
  transition: background 0.2s linear;
}
.Course_block1:hover {
  top: 100px;
  box-shadow: 5px 5px 5px #3c354a;
  background-color: #2d5d69;
}
.Course_photo1{
  margin: 0%;
  padding: 0%;
  margin-top: 59px;
  margin-left: 42px;
  background-image: url(../img/Course2.png);
  width: 180px;
  height: 180px;
}
/*==============================Блоки для курсы Механические Колебания=============================*/
.Course_block2{
  display: flex;
  text-align: center;
  display: inline-block;
  text-decoration: none;

  border-radius: 20px;
  background:#5BD1D7;
  border: 0;
  width:260px;
  height: 420px;
  transition: background 0.2s linear;
}
.Course_block2:hover {
  top: 100px;
  box-shadow: 5px 5px 5px #3c354a;
  background-color: #38797c;
}

.Course_photo2{
  margin: 0%;
  padding: 0%;
  margin-top: 59px;
  margin-left: 42px;
  background-image: url(../img/Course3.png);
  width: 180px;
  height: 180px;
}

/*==============================Блоки для курсы Оптика=============================*/
.Course_block3{
  display: flex;
  text-align: center;
  display: inline-block;
  text-decoration: none;

  border-radius: 20px;
  background:#6B48FF;
  border: 0;
  width:260px;
  height: 420px;
  transition: background 0.2s linear;
}
.Course_block3:hover {
  top: 100px;
  box-shadow: 5px 5px 5px #3c354a;
  background-color: #362680;
}

.Course_photo3{
  margin: 0%;
  padding: 0%;
  margin-top: 59px;
  margin-left: 42px;
  background-image: url(../img/Course4.png);
  width: 180px;
  height: 180px;
}

/*==============================Блоки для курсы Оптика=============================*/

.Course_block4{
  display: flex;
  text-align: center;
  display: inline-block;
  text-decoration: none;

  border-radius: 20px;
  background:#6B48FF;
  border: 0;
  width:260px;
  height: 420px;
  transition: background 0.2s linear;
}
.Course_block4:hover {
  top: 100px;
  box-shadow: 5px 5px 5px #3c354a;
  background-color: #362680;
}

.Course_photo4{
  margin: 0%;
  padding: 0%;
  margin-top: 59px;
  margin-left: 42px;
  background-image: url(../img/Course4.png);
  width: 180px;
  height: 180px;
}

